@import "~leaflet/dist/leaflet.css";


.map_container {
    max-height: 100vh;
    // border: 1px solid red;
  }
  
  .map_view {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
.p-sidebar-bottom.p-sidebar-md, .p-sidebar-top.p-sidebar-md,.p-sidebar-lg,.p-sidebar-md{
    background: #fff;
}
.v-vert-tbl{
    padding-top: 1em; padding-bottom: 1em;text-align: center;    background: #fff !important;
  }
// #newMap{
//     // width: 960px;
//     height:90vh;
//     overflow: hidden;
// }
ion-content{
    position:relative;
}
.myfooter{
    position: absolute;
    bottom: 0;left:0;right:0;width:100%;z-index: 9000;
    // padding:0px;
    background: rgba(0,0,0,0.6);
}
.overlay-full{
    position: absolute;
    bottom: 0;left:0;right:0;width:100%;z-index: 9999;
    height: 100%;    top: 0;
    background: rgba(0,0,0,0.6);
}
.item-background-color,.my-custom-class{
    --ion-item-background:#fff;
}
