.map {
    height: 350px;
    padding: 0;
  }
  #map { 
    // height: 380px;
    height: 100%;
     overflow: hidden;}
  .cityFilter{
    position: absolute;
    width: 100px;z-index: 2;top:170px;left:0;right:0;
    overflow: hidden;background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    color: #fff;    padding: 10px 5px;
    
  }
  .cityFilter mat-card{
    padding:3px !important;text-transform: uppercase;margin-bottom: 4px;
    font-size: 11px;;
  }
  .selected{
    background:orange !important ;
  }
  .resizable1 { width: 150px; height: 150px; }