#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#mapId3,#newMap{
  height: 100%;
  width: 100%;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
.v-hdr {
  font-size: 1.2em;color:#000;
}
.v-cnt1{
  // border-right: .3em solid #888;
}
.v-vert-tbl{
  padding-top: 2em;
}
.v-cnt,.v-vert-tbl{
  background-color:#f3f3f3;
}
.v-cnt p{
  text-transform: uppercase;color:#000;
  margin-bottom: 1.2em;
}
.v-cnt1 p:first-child span{
  display: block;font-size: 1.5em;font-weight: bold;
}
.v-cnt p{
  font-size: 1em;
  // border-bottom: 1px solid #ddd;
}

.v-cnt ion-icon{
  font-size: 1.3em;
  vertical-align: top;
}
.v-left-br span{
  // display: inline-block!important;
  float: right;font-weight: bold;overflow: hidden;padding: 1em;
  height: 2em;width:2;background: var(--ion-color-tertiary);
  border-radius: 3px;color:#fff!important
}
ion-card{
  // padding-bottom: 3em;
}
.v-vert-tbl ion-card-header{
font-size: 1.3em;
font-weight: bold;
}
thead th:first-child{
  min-width: auto!important;
}
thead th{ background-color: #4c4c4c;
  min-width: 11em;
  // font-size: .em!important;
  color:#fff;text-transform: uppercase;
}
.p-sidebar-mask.p-component-overlay{
  background: #fff!important;
}
.leaflet-popup-content p{
  // font-size: 1em;color:#444;
}
.v-list-content .v-list-label{
  // font-size: 1.2em;
  color:#444;font-weight: 700;
}
.v-list-span{
color:#888;text-transform: uppercase;
}
.v-list-label2 ion-label{
  // font-size:1.2em;
  font-weight: 700;
}

.v-vert-tbl ion-img{  
  height: 13vh !important;
width: auto !important;
align-items: center;
}
.v-overview ion-icon{
  margin-right: .4em;
}
.v-main-icon .fa{
  font-size:1.5em;
}

